<pi id="notice"></p>

<h4>ショッピングカート</h4>
<button type="button" class="btn btn-danger">カートを空にする</button>

<table class="table table-borderd" >
  <thead>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item_id.name%></td>
      <td><%= cart_item.item.with_tax_pricd %></td>
      <td></td>
      <td><%= cart_item.subtotal %></td>
      <% @合計金額　+= cart_item.subtotal %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "買い物を続ける", public_root_path, class:"btn btn-sm btn-primary" %>
<table class="table table-borderd">
  <thead>
    <th>
      <div>合計金額</div>
    </th>
    <th>
      <div>#合計金額の計算式</div>
    </th>

  </thead>
</table>

<%= link_to "情報入力に進む", public_root_path, class:"btn btn-sm btn-success" %>