<p id="notice"></p>

<div><%= image_tag @item.item_image,size:"200x150" %></div>
<h5><strong><%= @item.name %></strong></h5>
<div><%= @item.introduction %></div>
<div><strong><%= (@item.price*1.1).floor %>(税込)</strong></div>

<%= form_with model: @cart_item, url: public_cart_items_path do |f| %>

  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount,*[1..10], {include_blank: '個数選択'} %>
  <%= f.submit "カートに入れる" %>
<% end %>